@use './variables' as var;
@use './buttons' as btn;
@use './mixins' as mix;

#login-page-wrapper,
#register-page-wrapper {
    width: 100vw;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;

        &.img-side {
            box-shadow: 0 0 25px inset rgba(var.$charcoal, 0.9);

            img {
                width: 100%;
                height: 100%;
                max-height: 100vh;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;

        position: static;
        overflow-y: auto;

        .go-back-button {
            @include btn.icon-text-btn();
            position: absolute;
            top: 16px;
            left: 16px;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;

            h2 {
                font-family: 'Gluten', cursive;
                font-size: 2rem;
            }

            p {
                font-family: 'Montserrat', sans-serif;
            }
        }

        div {
            span.required-icon {
                position: absolute;
                color: var.$warning;
                font-size: 0.7rem;
                top: 3px;
                left: 3px;
            }

            input {
                width: 350px;
                height: 48px;
    
                font-size: 1rem;

                &.input-error {
                    border-color: var.$warning;
                }
            }

            .icon-btn {
                pointer-events: all;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        span.error-message {
            color: var.$warning;
            font-size: 0.7rem;

            position: absolute;
            bottom: -16px;
            left: 16px;
        }

        nav {
            width: 100%;
            max-width: 350px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 16px;

            a {
                color: var.$charcoal;

                &:hover, &:focus {
                    outline: none;
                    color: var.$lapis-lazuli;
                }
            }

            button {
                @include btn.form-btn($bg-color: var.$blue);
                width: fit-content;
            }
        }
    }
}


@media (max-width: calc(500px * 2)) {
    #login-page-wrapper,
    #register-page-wrapper {
        section.img-side {
            display: none;
        }

        section {
            background: linear-gradient(rgba(var.$charcoal, 0.3), rgba(var.$charcoal, 0.3)), url('../static/images/forms/login.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            form {
                min-width: 350px;
                width: 50%;
                height: calc(100vh - 80px);
                background-color: var.$off-white;

                position: absolute;
                box-shadow: 0 0 25px rgba(var.$charcoal, 0.8);

                header {
                    width: 250px;
                    text-align: center;

                    h2 {
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }
                }

                input, nav {
                    width: 250px;

                    p {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }

    #register-page-wrapper > section {
        background: linear-gradient(rgba(var.$charcoal, 0.3), rgba(var.$charcoal, 0.3)), url('../static/images/forms/register.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}