@use './variables' as var;
@use './buttons' as btn;

/* NAVBAR */

nav#navbar-component-wrapper {
    width: 100vw;
    max-width: 2000px;
    height: var.$nav-height;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 200;

    background-color: var.$light-grey;
    box-shadow: 0 0 8px rgba(var.$charcoal, 0.6);

    .left-nav-side.switch {
        display: none;
    }

    // user data
    .nav-user-data-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
    
        // user image - avatar
        .nav-user-img-wrapper {
            position: relative;
            width: 58px;

            .nav-user-circle-out {
                width: 58px;
                height: 58px;
                border-radius: 50%;
                background-color: var.$blue;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            .nav-user-circle-in {
                width: 54px;
                height: 54px;
                border-radius: 50%;
                background-color: var.$oxford-blue;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            #logged-user-nav-img {
                width: 50px;
                height: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    div.nav-username-link {
        a {
            text-transform: none;
            font-weight: bold;
        }
    }

    .right-nav-side,
    .left-nav-side {
        display: flex;
    }
}


@media (max-width: 1010px) {
    nav#navbar-component-wrapper {
        .right-nav-side {
            .nav-username-link {
                display: none;
            }
        }
    }
}


@media (max-width: 775px) {
    nav#navbar-component-wrapper {
        .left-nav-side.switch {
            display: block;
        }

        .left-nav-side:not(.switch),
        .nav-user-data-wrapper {
            display: none;
        }

        .left-nav-side:not(.switch).open-modal {
            width: 100vw;
            height: fit-content;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: var.$nav-height;
            left: 0;
            z-index: 9;

            background-color: var.$grey;
            font-weight: bold;

            box-shadow: 0 0 8px rgba(var.$charcoal, 0.3);
        
            div {
                width: 100%;
                display: flex;

                border: none;
                transition: all 0.3s;
                
                a {
                    width: 100%;
                    height: 100%;
                    padding: 8px 0;
                    border: none;
                    transition: all 0.5s;
                    color: inherit;
                }

                &:hover,
                &:has(a.active) {
                    background-color: var.$charcoal;
                    color: var.$off-white;    
                }
            }
        }
    }
}


/* FOOTER */

#footer-component-wrapper {
    width: 100vw;
    height: calc(var.$nav-height * 2.5);

    background-color: var.$light-grey;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    header {
        text-align: center;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;


    }
}