@use './variables' as var;
@use './buttons' as btn;

#user-page-wrapper > main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    section.user-options-wrapper {
        min-height: calc(100vh - var.$nav-height);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;

        header {
            max-width: 400px;
            width: 90%;

            div {
                margin-bottom: 16px;
                display: flex;
                align-items: baseline;
                justify-content: space-between;
    
                span {
                    color: var.$gold;
                    font-weight: bold;
                }
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8px;

            .icon-text-btn:not(.logout-btn) {
                @include btn.icon-text-btn(
                    $color: var.$off-white,
                    $bg-color: var.$oxford-blue,
                    $hover-bg-color: var.$gold,
                    $hover-text-color: var.$oxford-blue
                    ) {
                        width: 250px;
                        padding: 16px 8px;
                    }
            }

            .icon-text-btn.logout-btn {
                @include btn.icon-text-btn(
                    $color: var.$warning,
                    $bg-color: var.$off-white,
                    $hover-bg-color: var.$warning,
                    $hover-text-color: var.$off-white
                ) {
                    width: 250px;
                    padding: 16px 8px;
                }
            }

            .icon-text-btn {
                position: relative;

                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;

                svg {
                    position: absolute;
                    left: 18px;
                }
            }
        }
    }
}