// VALUES

$nav-height: 84px;
$blogItem-line-clamp: 11;

// COLORS

$dark-green: #283618;
$green: #606c38;
$beige: #faedcd;
$dark-beige: #d4a373;
$gold: #ffbd38;

$off-white: #f6f6f6;
$light-grey: #d6d6d6;
$grey: #8a8a8a;
$charcoal: #42454a;

$warning: #EF3E36;
$cancel: #922a2a;

$moonstone: #53a2be;
$blue: #1d84b5;
$lapis-lazuli: #176087;
$oxford-blue: #0a2239;