@use './variables' as var;
@use './buttons' as btn;

#welcome-page {
    header {
        padding: 64px 0 32px;
        text-align: center;

        h1 {
            font-size: 64px;
            font-family: Gluten, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .waves-wrapper {
            position: absolute;
            top: 30px;
            left: 200px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;

            img {
                width: 150px;
                height: 50px;
            }
        }
    }

    .summary-section {
        width: 100vw;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
        background-color: var.$oxford-blue;
        color: var.$off-white;

        div {
            padding: 24px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            align-content: center;

            svg {
                font-size: 32px;
                align-self: center;
                justify-self: center;
            }

            p {
                max-width: 200px;
                justify-self: center;
                text-align: center;
            }
        }
    }
}

.carousel-wrapper {
    height: 550px;
    min-height: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    .prev-button,
    .next-button {
        @include btn.icon-btn(
            $hover-bg-color: var.$oxford-blue
        );

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        width: 18px;
        height: 18px;
        font-size: 0.5rem;
    }

    .prev-button {left: 16px;}

    .next-button {right: 16px;}

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 48px 0;
        
        &.text-section {
            gap: 16px;
            padding-left: 48px;
            position: relative;
    
            p {
                max-width: 700px;
                height: 120px;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
            }
    
            .carousel-active-item-indicators {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 8px;
    
                .carousel-indicator {
                    width: 8px;
                    height: 8px;
                    
                    border: none;
                    border-radius: 50%;
                    background-color: var.$light-grey;
                    cursor: pointer;
                    transition: all 0.3s;
    
                    &:hover, &:focus {
                        background-color: var.$grey;
                    }
    
                    &.active-indicator {
                        background-color: var.$oxford-blue;
    
                        &:hover, &:focus {
                            background-color: var.$charcoal;
                        }
                    }
                }
            }
    
            .welcome-button {
                @include btn.text-btn;
                align-self: flex-end;
            }
        }

        &.image-section {            
            img {
                width: 60%;
                height: auto;
                max-height: 400px;
            }
        }
    }
}