@use './variables' as var;
@use './buttons' as btn;

#welcome-page {
    header.welcome-page-title {
        padding: 64px 0 32px;
        text-align: center;

        h1 {
            font-size: 64px;
            font-family: Gluten, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .waves-wrapper {
            position: absolute;
            top: 30px;
            left: 200px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;

            img {
                width: 150px;
                height: 50px;
            }
        }
    }

    .summary-section {
        width: 100vw;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        
        background-color: var.$oxford-blue;
        color: var.$off-white;
        box-shadow: 0 0 8px rgba(var.$charcoal, 0.9);

        div {
            padding: 24px;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            align-content: center;

            svg {
                font-size: 32px;
                align-self: center;
                justify-self: center;
                transition: 0.3s;
            }

            p {
                max-width: 200px;
                justify-self: center;
                text-align: center;
            }

            &:hover {
                svg {
                    transform: scale(1.25);
                }
            }
        }
    }
}

.carousel-wrapper {
    height: 550px;
    min-height: fit-content;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

    .prev-button,
    .next-button {
        @include btn.icon-btn(
            $hover-bg-color: var.$oxford-blue
        );

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        width: 18px;
        height: 18px;
        font-size: 0.5rem;
    }

    .prev-button {left: 16px;}

    .next-button {right: 16px;}

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 48px 0;
        
        &.text-section {
            gap: 16px;
            padding-left: 48px;
            position: relative;
    
            div.carousel-text-wrapper {
                max-width: 700px;
                height: 120px;

                display: flex;
                overflow: hidden;

                p.active-text {
                    text-align: center;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 18px;
                    animation: slide-in-right 0.5s 0.2s ease-in-out both;
                }

                p:not(.active-text) {
                    animation: slide-out-left 0.5s ease-in-out both;
                }
            }
    
            .carousel-active-item-indicators {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 8px;
    
                .carousel-indicator {
                    width: 8px;
                    height: 8px;
                    
                    border: none;
                    border-radius: 50%;
                    background-color: var.$light-grey;
                    cursor: pointer;
                    transition: all 0.3s;
    
                    &:hover, &:focus {
                        background-color: var.$grey;
                    }
    
                    &.active-indicator {
                        background-color: var.$oxford-blue;
    
                        &:hover, &:focus {
                            background-color: var.$charcoal;
                        }
                    }
                }
            }
    
            .welcome-button {
                @include btn.text-btn(
                    $color: var.$oxford-blue,
                    $bg-color: var.$gold,
                    $hover-bg-color: var.$gold
                );
                
                align-self: flex-end;

                &:hover {
                    filter: brightness(90%);
                }
            }
        }

        &.image-section {
            display: flex;
            flex-direction: row;
            overflow: hidden;

            img {
                width: 60%;
                height: auto;
                max-height: 400px;
            }

            img.active-img {
                animation: fade-in 0.5s 0.2s ease-in-out both;
            }

            img:not(.active-img) {
                animation: fade-out 0.5s ease-in-out both;
            }
        }
    }
}


@media (max-width: 1010px) {
    #welcome-page {
        #navbar-component-wrapper {
            background-color: var.$off-white;
        }

        .carousel-wrapper {
            height: 450px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: linear-gradient(rgba(var.$charcoal, 0.3), rgba(var.$charcoal, 0.3)), url('../static/images/welcomePage/welcomeSvg1.svg');
            background-position: center;
            background-size: cover;

            section.image-section {
                display: none;
            }
            
            section.text-section {
                width: 80vw;
                height: 400px;
                margin: 0 auto;
                padding: 48px;

                background-color: var.$off-white;
                box-shadow: 0 0 25px rgba(var.$charcoal, 0.8);
                
                header {
                    padding: 0;
                }

                div.carousel-text-wrapper {
                    height: 100px;
                }
            }
        }
    }
}


@media (max-width: 775px) {
    #welcome-page {
        .carousel-wrapper {
            height: 500px;

            .prev-button,
            .next-button {
                @include btn.icon-btn(
                    $bg-color: var.$off-white,
                    $hover-bg-color: var.$oxford-blue
                );

                width: 18px;
                height: 18px;
                font-size: 0.5rem;
            }

            section.text-section {
                height: 450px;

                header {
                    padding-bottom: 18px;
                    
                    h1 {
                        font-size: 2.5rem;
                    }
                }

                div.carousel-text-wrapper {
                    height: 180px;
                }
            }
        }

        section.summary-section {
            display: flex;
            flex-direction: column;
        }
    }
}


@keyframes slide-out-left {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-1000px);
        opacity: 0;
        display: none;
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(1000px);
        opacity: 0;
        display: none;
    }

    to {
        transform: translateX(0);
        opacity: 1;
        display: block;
    }
}


@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
    }

    to {
        opacity: 1;
    }
}