@use './variables' as var;
@use './mixins' as mix;
@use './buttons' as btn;
@use './notFoundPage';
@use './navbar';
@use './forms';
@use './welcomePage';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, .App {
    width: 100vw;
    height: 100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var.$charcoal;
    background-color: var.$off-white;

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}


.container {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;

    &.nav-page {
        height: calc(100vh - 84px);
    }
}


div.input-label-wrapper {
    @include mix.input-icon-label(
        $bg-color: var.$light-grey,
        $color: var.$charcoal,
        $placeholder-color: var.$grey,
        $highlight-color: var.$blue,
        $border-color: var.$lapis-lazuli
    );
}


::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var.$light-grey;

    &:hover {
        background: var.$grey;
    }
}