@use './variables' as var;
@use './mixins' as mix;
@use './buttons' as btn;
@use './notFoundPage';
@use './navigation';
@use './forms';
@use './welcomePage';
@use './userPage';
@use './blogs';

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, .App {
    width: 100vw;
    height: 100vh;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var.$charcoal;
    background-color: var.$off-white;

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}


.container {
    max-width: 2000px;
    min-height: calc(100vh - var.$nav-height);
    margin: 0 auto;

    &.nav-page {
        height: calc(100vh - 84px);
    }
}


.link-wrapper {
    padding: 0 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &:not(:last-child) {
        border-right: 1px solid var.$oxford-blue;
    }

    .login-btn,
    .logout-btn,
    a {
        @include btn.nav-link();
    }
}


.icon-text-btn {
    @include btn.icon-text-btn();
}

.text-btn {
    @include btn.text-btn();
}

.form-btn {
    @include btn.form-btn();
}


div.input-label-wrapper {
    @include mix.input-icon-label();
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var.$light-grey;
}

::-webkit-scrollbar-thumb {
    background: var.$grey;

    &:hover {
        background: var.$charcoal;
    }
}